html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------End of CSS reset----------------------------------------------*/




  #mainContact{
  background-image: url("images/groupWork.webp");
  background-position:left;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgb(84, 83, 83);
  background-blend-mode: multiply;
  color: white;
  }

   
header{
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  justify-content:space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1em;
  grid-area: h;
}

#icon365{
  width: 25vh;
}

#headHorizontalBar{
  display: none;
}


  /*Beginning of hamburger menu-----------------------------------------------------*/ 

nav{
  padding-top: .5em;
}

nav:hover{
  transform: scale(1.02);


  
}

section {
  display: inline-block;
  width: 100%;
}

.anchor {
  padding: .5em;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}


.checkbox-container {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  
}

.checkbox-trigger {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  cursor: pointer;
  z-index: 5;
}

.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 20px;
    height: 2px;
    margin: 1.3em 3em;
    transition: 0.3s;
}

.hamburger-menu::before, .hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.4em 0 0;
    transition: width 0.5s ease 0.3s, transform 0.5s ease 0.3s;
}

.hamburger-menu::after {
   margin-top: 0.4em; 
}

.hamburger-menu {
  position: relative;
  display: block;
  margin: 0;
  margin-top: .9em;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-bottom:.8em;
  transition: width 0.3s ease;
}


.checkbox-trigger:checked {
  left: 150px;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu {
  width: 2em;
  
  transition: width 0.5s ease 0.5s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
  width: 1.2em;
  transform: rotate(-35deg);
  margin-top: -0.4em;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
  width: 1.2em;
  transform: rotate(35deg);
  margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
  width: 150px;
  height: 300px;
  transition: width 0.5s ease 0.3s, height 0.3s ease;
}



.menu-content {
  display: flex;
  color:white;
  background-color:#002764;
  float: left;
  }


  .menu-content ul {
  display: block;
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease 0.5s, width 0.5s ease;
}


.menu-content ul li {
  list-style: none;
  padding-top: 1em;
  padding-left: 1em;
  cursor: pointer;
  transition: color 0.5s;
}

.menu-content ul li:hover {
  color:lightblue;
  
}

ul{
  position: relative;
}

#slideOutIcon{
  border-radius: 10px;
  width: 100px;
  position: absolute;
  left: 30%;
  top: 5%;
  
  
}


/*End of Hamburger menu----------------------------------------------------*/



 #h1PtagAzNv{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
   
  }

  @keyframes colorChange{
     0% {color: white; }
     10% {color: #308BBB;}
     20% {color:white;}
     30% {color: #C0821D;}
     40% {color:white;}
     50% {color: #308BBB;}
     60% {color: white;}
     70% {color: #C0821D;}
     80% {color:white;}
     90% {color: #308BBB;}
     100% {color: white;}
  }

  #h1Contact{
    font-size: 8vw;
    color:#b4d8ec;
    padding: .5em;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: 10;
    margin-top: 2em;
    
  }

  #pTagContact{
   text-align: start;
   font-size: 4vw;
   line-height: 1.2em;
   padding: 1em;
  }

  #h1PtagContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }

 #azMainList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: .3em;
  margin: 0 0 .3em 0;
 }

 #nvMainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: .3em;
  margin: 0 0 .3em 0;
 }



    #h3azContact{
      font-size: 7vw;
      padding: .5em 0 .5em 0;
      
    }

    #h3nvContact{
      font-size: 7vw;
      padding: .5em 0 .5em 0;
    
    }

    #azList{
      line-height: 1.1em;
      font-size: 4vw;  
    }

    #nvList{
      line-height: 1.1em;
      font-size: 4vw;
  
    }

  #mainFormMap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    }

  #formContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }

  .iconForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  input, textarea{
    font-size: 3.5vw;
    padding: .3em;
    margin: .2em;
    }

  input:focus, textarea:focus{
    background-color:lightblue;
}

  input:hover, textarea:hover{
   border: 4px solid #0071AC;
}
   
  #subClear-form{
   display: flex;
   justify-content: center;
   align-items: center;
}


 #azMap,#nvMap{
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  padding: .5em;
    
    

    
    

    
  }




  /*---------------------------------------------Media queries---------------------------------*/


@media screen and (min-width: 768px){

 
  body{
  background-image: url("images/groupWork.webp");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
   background-color: rgb(84, 83, 83);
  background-blend-mode: multiply;
  color: white;
  
  }

  #headHorizontalBar{
  grid-area: hnb;
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 17%;
  background-color: white;
  display: flex;
  
}


 #horizontalIcon{
  width: 15vw;
  margin-right: auto;
}

#ulHorizontalBar, .list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 1em;
  color: #0071AC;
  font-weight: 600;
  font-size: 1.7vw;
  cursor: pointer;
  
}

  @keyframes colorChange{
     0% {color: white; }
     10% {color: #308BBB;}
     20% {color:#002E6A;}
     30% {color: #C0821D;}
     40% {color:white;}
     50% {color: #308BBB;}
     60% {color:#002E6A;}
     70% {color: #C0821D;}
     80% {color:white;}
     90% {color: #308BBB;}
     100% {color:#002E6A;}
  }

#contactKeyFrames, #contactKeyFrames2{
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: 10;
}

.list:hover{
  background-color:#002764;
  color: white;
  padding: 1.3em 1.3em 1.3em 1.3em;
  transition: .7s;
}


  
header{
  display: none;
}

#icon365{
  width: 40vh;
}



 #h1PtagAzNv{
   display: flex;
   flex-direction: row;
   
  }

    #h1Contact{
    font-size: 4vw;
    color:#b4d8ec ;
    
  }

  #pTagContact{
   text-align: start;
   font-size: 2vw;
   line-height: 1.2em;
   padding: 0 0 1em 2em;
  }

   #h3azContact{
      font-size: 3.5vw;
      }

    #h3nvContact{
      font-size: 3.5vw;
      
      
    
    }

    #azList{
      font-size: 2vw;  
      line-height: 1.2em;
      text-align: center;
      
    }

    #nvList{
      font-size: 2vw;
      line-height: 1.2em;
      text-align: center;
    
    }



  #h1PtagContact{
    width: 40vw;
  }

  
 #azMainList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;

  
 }

 #nvMainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 70%;
  padding: .3em;

 }

  #mainFormMap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  
 }

  #formContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    
    }

  .iconForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  input{
    font-size: 1.3vw;
    padding: .2em; 
    margin: .1em;
  
  }

  textarea{
    font-size: 1.3vw;
    padding: .2em;
    height: 20vh;
    width: 80%;
  }

  #subClear-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
  
    
  }


  #azMap,#nvMap{
    border-radius: 20px;
    margin: 0 0 5em 3.5em;
    width: 30vw;
    height: 80vh;
 }


}



 






