html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
  scroll-behavior: smooth;
}


body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a{
  text-decoration: none;
  color: white;
}

/*-----------------------End of CSS reset----------------------------------------------*/


body {
	background: linear-gradient(-45deg,#0071AC, #BF8015, #002764, #0071AC);
	background-size: 400% 400%;
  background-position: center;
  background-repeat: no-repeat;
	animation: gradient 7s ease infinite;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header{
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  justify-content:space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1em;

}

#icon365{
  width: 20vh;
}

#headHorizontalBar{
  display: none;
}

  /*Beginning of hamburger menu-----------------------------------------------------*/ 

nav{
  padding-top: .5em;
}

nav:hover{
  transform: scale(1.02);


  
}

section {
  display: inline-block;
  width: 100%;
}

.anchor {
  padding: .5em;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

a{
  cursor: pointer;
  width: 15vw;

}

a:hover{
 font-size: 1.1em;
 transition: .3s;
 color:rgb(218, 216, 216);
 
}


.checkbox-container {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  position: relative;
  
}

.checkbox-trigger {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  cursor: pointer;
  z-index: 5;
}

.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    display: block;
    position: absolute;
    background: white;
    width: 20px;
    height: 2px;
    margin: 1.3em 3em;
    transition: 0.3s;
}

.hamburger-menu::before, .hamburger-menu::after {
    content: '';
    position: absolute;
    margin: -0.4em 0 0;
    transition: width 0.5s ease 0.3s, transform 0.5s ease 0.3s;
}

.hamburger-menu::after {
   margin-top: 0.4em; 
}

.hamburger-menu {
  position: relative;
  display: block;
  margin: 0;
  margin-top: .9em;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-bottom:.8em;
  transition: width 0.3s ease;
}


.checkbox-trigger:checked {
  left: 150px;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu {
  width: 2em;
  
  transition: width 0.5s ease 0.5s;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::before {
  width: 1.2em;
  transform: rotate(-35deg);
  margin-top: -0.4em;
}

.checkbox-trigger:checked + .menu-content .hamburger-menu::after {
  width: 1.2em;
  transform: rotate(35deg);
  margin-top: 0.4em;
}

.checkbox-trigger:checked + .menu-content ul {
  width: 150px;
  height: 300px;
  transition: width 0.5s ease 0.3s, height 0.3s ease;
}



.menu-content {
  display: flex;
  color:white;
  background-color:#002764;
  float: left;
  }


  .menu-content ul {
  display: block;
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease 0.5s, width 0.5s ease;
}


.menu-content ul li {
  list-style: none;
  padding-top: 1em;
  padding-left: 1em;
  cursor: pointer;
  transition: color 0.5s;
}

.menu-content ul li:hover {
  color:lightblue;
  
}

ul{
  position: relative;
}

#slideOutIcon{
  border-radius: 10px;
  width: 100px;
  position: absolute;
  left: 30%;
  top: 5%;
  
}

/*End of Hamburger menu----------------------------------------------------*/

.animate_zoomInDown{
  animation: zoomInDown;
  animation-duration: 1.5s;
}

#mainInfra{
padding:3em 1em 0 1em;
  
}

#itInfra{
  background-color: whitesmoke;
  border: 6px whitesmoke ridge;
  margin: 2em 0 0 0;
  padding: .5em;
  opacity: .7;
}

.h1Infra{
font-size: 10vw;
}

.ptagInfra{
  padding: .5em 0 .5em 0;
  font-size: 5vw;
  line-height: 1.2;
}

.btnInfra{
  border: none;
  border-radius: 20px 20px;
  padding: .5em;
  background-color: #002E6A;
  color: whitesmoke;
  font-size: 4vw;
}

.btnInfra:hover{
  background-color:rgb(21, 17, 17);
  margin-left: .5em;

}

.imgJoeInfra{
  display: none;

}

#projectHardwareVoIPCloudMain{
  margin: 2em 0 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  font-family: serif;
  text-align: start;
  font-family: serif;
  grid-template-areas: 
  'p p p p p p p p p p p p'
  'h h h h h h h h h h h h'
  't t t t t t t t t t t t'
  'c c c c c c c c c c c c'
}
#imgProject{
grid-area: ip;
width: 95%;
margin-left: auto;
margin-right: auto;
display: block;

}


#project{
  grid-area: p;
  margin-bottom: 1em;
 
}

#h1PtagProject, #h1PtagHardware, #h1PtagTele, #h1PtagCloud{
 background-color: #DCEAF5;
 margin: .5em 0 0 0;
 padding: 1em;
 width: 95%;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 6px #DCEAF5 ridge;
 
}

#h1Project, #h1Hardware,#h1Tele, #h1Cloud {
  font-size: 8vw;
  padding: 0 0 .5em 0;
}

#pTagProject, #pTagHardware, #pTagTele, #pTagCloud{
  font-size: 5vw;
  line-height: 1.2;
}

#btnProject, #btnHardware, #btnTele, #btnCloud{
  font-size: 5vw;
  margin: .5em 0 0 0;
  padding: .3em;
  border: none;
  background-color: #0071AC;
  border-radius: 20px 20px;
  color: whitesmoke;
}

#btnProject:hover, #btnHardware:hover, #btnTele:hover,#btnCloud:hover {
  background-color: #002E6A;
  margin-left: .5em;
}


#imgHardware{
  grid-area: ih;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}


#hardware{
  grid-area: h;
}

#imgTele{
  grid-area: it;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

#tele{
  grid-area: t;
}

#imgCloud{
  grid-area: ic;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#cloud{
  grid-area: c;
}


/*Animation--------------------------------------------------------------*/

.spin { 
  opacity: 0; 
  transition-property: transform, opacity; 
  transition-duration: 1.2s; 
  transition-timing-function: ease-in; 
  transform: rotate(360deg);

 } 

.fade-left { 
  transform: translateX(-40px); 
  opacity: 0; 
  transition-property: transform, opacity; 
  transition-duration: .7s; 
  transition-timing-function: ease-in; 
  /*transform: rotate(360deg);*/

 } 

 .fade-right { 
  transform: translateX(40px); 
  opacity: 0; 
  transition-property: transform, opacity; 
  transition-duration: .7s; 
  transition-timing-function: ease-in; 
  /*transform: rotate(360deg);*/

 }

  .fade-bottom { 
  transform: translateY(60px); 
  opacity: 0; 
  transition-property: transform, opacity; 
  transition-duration: .7s; 
  transition-timing-function:linear; 
  /*transform: rotate(360deg);*/

 } 

 
  .fade-in{ 
  opacity: 0; 
  transition-property: transform, opacity; 
  transition-duration: 1s; 
  transition-timing-function:ease-in; 

  }


 /*Shows text with JS intersection Observer*/ 
.in-view{ 
  transform:none; 
  opacity: 1; 
} 

/*End of animation-----------------------------------------------------------------*/




/*---------------------------------------------Media queries---------------------------------*/


@media screen and (min-width: 768px){
 
#headHorizontalBar{
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 15vh;
  background-color: white;
  display: block;
  display: flex;

  
}


 #horizontalIcon{
  width: 15vw;
  margin-right: auto;
  border-radius:10px ;
  
  

  
}

#ulHorizontalBar{
  color: #0071AC;
  font-weight: 600;
  font-size: 1.7vw;
  cursor: pointer;

}

.list{
  color: #0071AC;
  margin: .5em;
  font-weight: 600;
  font-size: 1.7vw;
  display: inline;
  cursor: pointer;
  
}


  @keyframes colorChange{
     0% {color: white; }
     10% {color: #308BBB;}
     20% {color:#002E6A;}
     30% {color: #C0821D;}
     40% {color:white;}
     50% {color: #308BBB;}
     60% {color:#002E6A;}
     70% {color: #C0821D;}
     80% {color:white;}
     90% {color: #308BBB;}
     100% {color:#002E6A;}
  }

#contactKeyFrames, #contactKeyFrames2{
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.list:hover{
  background-color:#002764;
  color: white;
  padding: 1.3em 1.3em 1.3em 1.3em;
  transition: .7s;
}


  
header{
  display: none;
}

#icon365{
  width: 15vh;
}

#mainInfra{
  margin: 5em 0 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 1em;

}

#itInfra{
  width: 80%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 6px whitesmoke ridge;
}


.h1Infra{
font-size: 5vw;
}

.ptagInfra{
  padding: .5em 0 .5em 0;
  font-size: 2vw;
  line-height: 1.2;
}

.btnInfra{
  border: none;
  border-radius: 20px 20px;
  padding: .5em;
  background-color: #002E6A;
  color: whitesmoke;
  font-size: 1.5vw;
}

.btnInfra:hover{
  background-color:rgb(21, 17, 17);
  margin-left: .5em;

}

.imgJoeInfra{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: .8;
  border: 6px #B1C5DA ridge ;
}


#projectHardwareVoIPCloudMain{
  margin: 2em 0 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  padding: .5em;
  font-family: serif;
  text-align: start;
  font-family: serif;
  grid-template-areas: 
  'p p p p p p h h h h h h'
  't t t t t t c c c c c c'
}
#imgProject{
grid-area: ip;
width: 100%;
}


#project{
  grid-area: p;
}


#imgHardware{
  grid-area: ih;
  width: 100%;

}


#hardware{
  grid-area: h;
}

#imgTele{
  grid-area: it;
  width: 100%;
}

#tele{
  grid-area: t;
}

#imgCloud{
  grid-area: ic;
  width: 100%;

}

#cloud{
  grid-area: c;
}


#h1PtagProject, #h1PtagHardware, #h1PtagTele, #h1PtagCloud{
 background-color: #DCEAF5;
 margin: .5em 0 0 0;
 padding: 1em;
 width: 95%;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: 6px #DCEAF5 ridge;
 
}

#h1Project, #h1Hardware,#h1Tele, #h1Cloud {
  font-size: 4vw;
  padding: 0 0 .5em 0;
}

#pTagProject, #pTagHardware, #pTagTele, #pTagCloud{
  font-size: 2vw;
  line-height: 1.2;
}

#btnProject, #btnHardware, #btnTele, #btnCloud{
  font-size: 2vw;
  margin: .5em 0 0 0;
  padding: .3em;
  border: none;
  background-color: #0071AC;
  border-radius: 20px 20px;
  color: whitesmoke;
}

#btnProject:hover, #btnHardware:hover, #btnTele:hover,#btnCloud:hover {
  background-color: #002E6A;
  margin-left: .5em;
}


}
